@font-face {
  font-family: gagalin;
  src: url(Gagalin-Regular.otf);
}

@font-face {
  font-family: kgb;
  src: url(KGBlankSpaceSketch.ttf);
}

@font-face {
  font-family: cb;
  src: url(Chalk\ Board.ttf);
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#note {
  background-color: #CAF0F8;
}

.header {
  font-size: 8vw;
  font-family: cb;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 3vw;
  display: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}



.sub {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.sub img {
  border: 1px solid black;
  border-radius: 7px;
}

.sub :hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.315));
  transition: ease 500ms;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}